* {
    margin: 0;
    padding: 0;
    font-family: "Sour Gummy", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, rgb(158, 189, 19) 0%, rgb(0, 133, 82) 100%);
    padding: 10px;
}

.toDo-card {
    width: 100%;

    max-width: 600px;
    background: rgba(250, 250, 250, 0.5);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.toDo-card h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(178, 190, 181, 1);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px
}

input::placeholder {
    color: rgb(54, 69, 79);
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgb(38, 166, 154);
    color: rgb(250, 250, 250);
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;

}

ul li {
    list-style: none;
    font-size: 23px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before {
    content: '\29BE';
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    font-size: 28px;
    color: rgb(54, 69, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: rgb(158, 158, 158);
    text-decoration: line-through;
}

ul li.checked::before {
    content: '\2714';
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(170, 24, 24);
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: rgba(151, 149, 148, 0.5);
    border-radius: 30px;

}